<%= form_for(@summary) do |form| %>
	<% if @summary.errors.any? %>
		
			<div id="error_explanation">
				<h2> <%= pluralize(@summary.errors.count, "error")%> prohibited this Summary from being saved: </h2>

				<ul>
					<% @errors.full_messages.each do |msg| %>
					<li> <%= msg %> </li>
					<% end %>
				</ul>
			</div>
	<% end %>

	

<%end%>