<%= form_tag(summaries_path, :method => "get", authentication: false, id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Devices" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<h2> Summary of Devices </h2>



<div id="summaries">
	<%= render @summaries %>
</div>
	
