<div class="sticky" style="background-image: url('assets/black-Linen.png')">
 	<div class="contain-to-grid">
  		<nav>
			<div id="header" class="navbar">
				<div class="navbar-inner">
				</div>
			</div>
		</nav>
 	</div>
</div>


<!--  -->


<h2> Choose Your Devices </h2>



<div id="summaries">
	<%= render @summaries %>
</div>
	
