
<li>
	<div class="device-block" id="dev"> 
		<%= link_to search_url(:dev => device.id),  {:remote => true} do %> 
		<h4>
			<%= device.name + " " + device.model %> 
		</h4>	
		<div class="device-image">
			<%= image_tag device.image_url(:thumb) if device.image? %>
		</div>
		<h5> Price: <%= device.minimum_price %> </h5>
		<% end %>
	</div>
</li>
	

