<li>
	
		<div class="device-block" id="dev"> 	
				<h4>
					<%= link_to device.name+" "+ device.model , search_url(:dev => device.id),  {:remote => true} %> 
				</h4>	
				<div class="image">
					<%= image_tag device.image_url(:thumb) if device.image? %>
				</div>
				<h5> Price: <%= device.minimum_price %> </h5>
		</div>
	
</li>
	

