<div class="container">
		<table>
			<tr> 
				<td> Model: 
					<%= link_to (device.name + " " + device.model), device_path(device) %> 
				</td>
			</tr>


			<tr>	
				<td> <b> Price: </b> </td> 
				<td> <%= device.minimum_price %> </td>
			</tr>

			<tr>
				<td>
					<div class="image">
						<%= image_tag device.image_url(:main) %>
					</div>
				</td>
			</tr>	

		</table>		
		
		

		
</div>

