


	<div class="large-3 columns small-6 columns"> 

		<%= link_to device.name+" "+ device.model , search_url(:dev => device.id),  {:remote => true} %> 
			Price: <%= device.minimum_price %> 
				<div class="image">
					<%= image_tag device.image_url(:thumb) if device.image? %>
				</div>
	</div>
	

