
<div id="hero" style="display:block;">
	<h2> Choose Your Devices </h2>

	<div id="devices" class="row">
		<div class="small-12 columns">
			<ul class="small-block-grid-4">
				<%= render @devices %>
			</ul>
		</div>
	</div>

	<div id="myModal" class="reveal-modal" data-reveal>

		<div id="summaries" class="row">

		</div>

		<a class="close-reveal-modal">&#215;</a>
	</div>		

</div>