<div class="intro">


<h1 class> <strong> It's easy to get you the best phone price.</strong></h1>
	<p>	Looking for a new phone? Mobile Buddy does all the work of showing you where to get the best deal. <br> Best of all, it's <strong><em> free. </em></strong></br>
	</p>
</div>

<div class="wrapper">
	<% content_for :title ,"Mobile Buddy" %>
	<div id="hero" style="display:block;">
		<center><h2> Choose Your Phone  </h2></center>


		<div id="devices" class="row">
			<div class="small-12 columns">
				<ul class="small-block-grid-4">
					<%= render @devices %>
				</ul>
			</div>
		</div>
		
	</div>		

		<div id="myModal" class="reveal-modal" data-reveal>


			<div id="summaries" class="row">

			</div>

			<a class="close-reveal-modal">&#215;</a>
		</div>		
	</div>
</div>