<div class="hero-image">    
  <div class="hero-content">
    <h1 class="hero-title"> <span class="text-green breakline">Looking to get a new phone? </span></h1>
    <h1 class="hero-title"> <span class="breakline">Shop, compare prices</span></h1>
    <h1 class="hero-title"> <span class="breakline">And save money</span></h1>
    <p class="hero-subtitle">Find the best deal in Canada.</p>
  </div>  
</div>
  
<div class="wrapper">
  <% content_for :title ,"Mobile Buddy" %>
  <div class="pane-content">
    <h2 class="pane-title"> Choose Your Phone </h2>
    <p class="pane-subtitle"> Popular phones recommended for you. </p> 
  </div>
  <!-- <div id="devices" class="row"> -->
  <div class="row" data-match-height>
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">      
        <%= render @devices.active %>
      </ul>
  </div>  
    <div id="myModal" class="reveal-modal medium" data-reveal >
      <div id="summaries" class="row">
      </div>
      <a class="close-reveal-modal">&#215;</a>
    </div>    
  <!-- </div> -->

    <div class="push"></div>
</div>
  
<div class="footer-image">
  <p class="copyright"></p>
</div>