<h1 class="intro-text"> <strong> It's easy to get you the best phone price.</strong></h1>


<div class="row" >
	<p class="intro-par">
		Looking for a new phone? Mobile Buddy does all the work of showing you where to get the best deal. Best of all, it's 
		<span class="free"> free.</span>

<a href="#contentDrop" id='news'>newsletter</a>

	<div class="wrapper">
		<% content_for :title ,"Mobile Buddy" %>
		<div id="hero">
			<h2> Choose Your Phone  </h2>

		<div id="devices_" class="row" ng-controller="DeviceCtrl">
			<div class="small-12 columns">
				<ul class="small-block-grid-4">
				
                    <li  ng-repeat="device in devices | orderBy:'display_name' ">
						<div class="device-block" ng-click="openModal(device)"> 
							
							<h4>
								{{device.name}} {{device.model}}
							</h4>	
							<div class="device-image">
								 <img src="{{device.image['thumb']['url']}}"> 
							</div>
							<h5> Price:  {{device.minimum_price | currency}} </h5>
							
						</div>
					</li>
				</ul>
			</div>

			<div id="myModal" class="reveal-modal" data-reveal data-equalizer>

				<div id="summaries" class="row">
					<div class="large-12 columns">
					{{deviceName}} {{deviceDescription}}
					<img src="{{deviceImgUrl}}">
				   </div>
                   <div class="small-12 columns" data-equalizer>
						<div class="large-3 columns [radius round]" ng-repeat="summary in summaries"  data-equalizer-watch>
							<div class="panel callout radius" >
								
								<h5 ng-class="{highlight: summary.gift_card == '' }">{{summary.retailer.name}}</h5>
							    <hr>
							    <h6 class="subheader">Carrier: {{summary.contract.name}}</h6>
								<h6 style="height:100px">Gift Card: <small>{{summary.gift_card}}</small></h6>
								<hr>
						        <h4 class="subheader">{{summary.price | currency}}</h4>
						        <a href="{{summary.promotion_link}}" class="button round"> Website</a>        
						   </div>
						</div>
                    </div>
				</div>

				<a class="close-reveal-modal">&#215;</a>
			</div>		
		</div>
	</div>

</div>
