<nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="logo-image"> 
			<h1>
				<a href="#"> <img src="https://s3.amazonaws.com/Mobile-Buddy-Home/logo.png"> </a>
			</h1>
		</li>
	</ul>
</nav> 

