// Place all the styles related to the Devices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper-about{
	height:80%;
}
.bottom{
	height:20%;
}
#devices{
	min-height:100%;
}