body { 
  background: url("hero.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title-area {
	height: 50px;
}

#top-bar-logo {
	width: 20%;
	min-width: 200px;
	max-height: 40px;
}

.device-block {
	padding:20px;
	background-color: white;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

.device-block:hover {
	background-color: #efefef;
	cursor: pointer;
}

.image {
	margin-left: auto;
	margin-right: auto;
	width: 6em
}

.intro {
	text-align: center;
	padding: 150px;
	font-color: black;
	font-family: Georgia, Times, serif;
	

}

h1 {
	font-size: 250%;
}

p {
	font-size:130%;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
}
