<%# navigation styled for Zurb Foundation 5 %>
<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="logo-image">
      </li>
    </ul>
    <div class="top-bar-section">
    </div>
  </nav>
</div>


